@charset "UTF-8";

:root {
    --red: #9E0000;
    --dark: black;
    --light: white;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.1rem;
}

body {
    font-family: arial, serif;
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
    font-style: normal;
    font-weight: 200;
}

.hero-header {
    width: 100vw;
}

.landing-header {
    color: var(--light);
    font-weight: bold;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 70rem;
    max-width: 80vw;
}

.about-header {
    color: var(--red);
    margin-bottom: 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    transform: translateY(25px) translateX(-20px);
    background-color: var(--dark);
    width: max-content;
}

.indented-block {
    margin: 0;
    border: 2px solid var(--red);
    border-radius: 10px;
    padding: 2rem;
}

strong {
    font-weight: 600;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    margin: 4rem 0 -2rem 0;
    width: 100%;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10rem;
    min-width: 10rem;
    padding: 1rem;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--dark);
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

.social-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px 0 var(--red);
    border: 1px solid var(--red);
}

.social-icon {
    height: 100px;
    width: 100px;
}

.secondary-content {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 1rem;
}

li {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

a {
    color: var(--light);
}

.mt-4 {
    margin-top: 4rem;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
