@charset "UTF-8";

body {
    font-family: arial, serif;
    background-color: black;
    color: white;
    margin: 0;
    font-style: normal;
    font-weight: 200;
}

.hero-header {
    width: 100vw;
}

.landing-header {
    color: white;
    font-weight: bold;
    text-align: left;

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 70rem;
    max-width: 80vw;
}

.landing-content {
    padding-right: 4rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 5rem;
    align-items: center;
}

.social-icon {
    width: 50px;
    height: 50px;
}

.secondary-content {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 1rem;
}

a {
    color: white;
}

.mt-4 {
    margin-top: 4rem;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .social-links {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 10rem
    }

    .social-icon {
        height: 75px;
        width: 75px;
    }
}
